<div class="card card-body">
<%= form_with(model: info_item_category, local: true) do |form| %>
  <% if info_item_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(info_item_category.errors.count, "error") %> prohibited this info_item_category from being saved:</h2>

      <ul>
        <% info_item_category.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "Nombre" %>
    <%= form.text_field :name, class: 'form-control', required: true  %>
  </div>

  <div class="actions">
    <%= form.submit "Guardar", class: 'btn btn-success btn-sm' %>
  </div>
<% end %>
</div>