<p id="notice"><%= notice %></p>

<h1>User Filter Preferences</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Gender</th>
      <th>Distance range</th>
      <th>Age from</th>
      <th>Age till</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_filter_preferences.each do |user_filter_preference| %>
      <tr>
        <td><%= user_filter_preference.user_id %></td>
        <td><%= user_filter_preference.gender %></td>
        <td><%= user_filter_preference.distance_range %></td>
        <td><%= user_filter_preference.age_from %></td>
        <td><%= user_filter_preference.age_till %></td>
        <td><%= link_to 'Show', user_filter_preference %></td>
        <td><%= link_to 'Edit', edit_user_filter_preference_path(user_filter_preference) %></td>
        <td><%= link_to 'Destroy', user_filter_preference, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Filter Preference', new_user_filter_preference_path %>
