
<%= form_for :user, url: @route do |f| %>

	<% if @edit %>
	<div class="field" hidden>
	     <%= f.label "Email" %>
	    <%= f.text_field :id , value: @user.id%>
	  </div>
	<% end %>

  <div class="field">
     <%= f.label "Email" %>
    <%= f.email_field :email, autofocus: true, value: @user.email, autocomplete: "email", class: 'form-control' %>
  </div>

  <div class="field">
     <%= f.label "Nombre" %>
    <%= f.text_field :name, autofocus: true, value: @user.name, class: 'form-control' %>
  </div>


  <div class="field">
     <%= f.label "Género" %>

     <%= f.select :gender, [['Hombre', "male"], ['Mujer', "female"],['Pareja', "couple"], ['Otros', "gender_any"]]%>



  </div>

  <div class="field">
     <%= f.label "Fecha nacimiento" %>
    <%= f.date_field :birthday, value: @user.birthday, class: 'form-control' %>
  </div>

  <div class="field">
     <%= f.label "Lugar nacimiento" %>
    <%= f.text_field :born_in, autofocus: true, value: @user.born_in, class: 'form-control' %>
  </div>


  <div class="field">
     <%= f.label "Vive en" %>
    <%= f.text_field :living_in, autofocus: true, value: @user.living_in, class: 'form-control' %>
  </div>


  <div class="field">
     <%= f.label "Descripción" %>
    <%= f.text_area :description, autofocus: true, value: @user.description, rows: 4, class: 'form-control' %>
  </div>


 <div class="card card-body">
  <div class="field">
      <% if @edit %>
        <% if @images.any? %>
          <p>Click sobre la imagen para eliminar. </p>
        <% end %>
        <% @images.each do |i| %>

          <% begin %>
            <%= link_to i, method: :delete, data: { confirm: '¿Eliminar?' } do %>
              <% if i.file.present? %>
                <%= image_tag i.file.thumb.url, style: 'max-height: 80px;' %>
              <% else %>
                <i class="far fa-file-image fa-6x" style="color: #65a4e6;"></i>
              <% end %>
            <% end %>
          <% rescue => e %>
            <p>Error al acceder a la imagen: <%= e.message %></p>
          <% end %>

        <% end %>
      <% end %>
      <%= f.label "Imágenes" %>
      <%= f.file_field :images, multiple: true %>
   </div>
</div>


    <% if @edit %>
     <div style="padding: 10px;">
      <% @user.user_info_item_values.each do |iv| %>
        <span class="badge badge-info" style="margin: 3px;"><%= iv.category_name %>: <%= iv.item_name %>

          -- <%= link_to 'Eliminar', iv, method: :delete, data: { confirm: '¿Eliminar?' } %>
        </span>
      <% end %>
    </div>
    <% end %>


   <div class="card card-body">
    <b>Perfil</b>

      <div class="field">
         <%= collection_select(nil,:info_item_values, InfoItemValue.where.not(id: @user.user_info_item_values.pluck(:info_item_value_id)), :id, :name_with_category, {}, {:multiple => true, class: 'form-control selectpicker', "data-live-search" => "true", style: "height: 300px;"}) %>
      </div>
   </div>



    <hr>

    <h5>Preferencias de Búsqueda</h5>

    <div class="card card-body" style="margin-bottom: 20px;">
      <div class="field"><b>Buscando: </b>
        <%= select nil, :filter_gender, options_for_select([['Hombre', 'male'], ['Mujer', 'female'], ['Todos', 'gender_any'], ['Pareja', 'couple']], @user.user_filter_preference&.gender_preferences), {}, {class: 'form-control'} %>
      </div>

      <div class="field">
        <b>Hasta km</b>
        <%= text_field nil, :distance_range, value: @user.user_filter_preference&.distance_range, class: 'form-control', placeholder: 'Ej: 50' %>
      </div>
    </div>

    <hr>

    <h5>Intereses Principales <span class="badge badge-info">Obligatorio: 4 intereses</span></h5>

    <% if @edit && @user.user_main_interests.any? %>
      <div style="padding: 10px; margin-bottom: 10px; background-color: #f8f9fa; border-radius: 5px;">
        <strong>Intereses actuales:</strong><br>
        <% @user.user_main_interests.each do |mi| %>
          <span class="badge badge-primary" style="margin: 3px; font-size: 14px; padding: 8px;">
            <%= mi.name %> - <%= mi.percentage %>%
          </span>
        <% end %>
      </div>
    <% end %>

    <div class="card card-body" style="margin-bottom: 20px;">
      <p><small><i>Selecciona exactamente 4 intereses principales. Cada interés tiene un porcentaje de afinidad (0-100%)</i></small></p>
      
      <div id="main-interests-container">
        <% 
          existing_main = @edit ? @user.user_main_interests.to_a : []
          4.times do |i| 
            current_main = existing_main[i]
        %>
          <div class="row" style="margin-bottom: 10px;">
            <div class="col-md-1" style="padding-top: 8px;">
              <strong>#<%= i + 1 %></strong>
            </div>
            <div class="col-md-7">
              <%= select_tag "main_interest_#{i}_id", 
                  options_from_collection_for_select(Interest.all.order(:name), :id, :name, current_main&.interest_id), 
                  { include_blank: "Selecciona un interés", class: 'form-control' } %>
            </div>
            <div class="col-md-4">
              <div class="input-group">
                <%= number_field_tag "main_interest_#{i}_percentage", current_main&.percentage, 
                    { placeholder: "0-100", class: 'form-control', min: 0, max: 100 } %>
                <div class="input-group-append">
                  <span class="input-group-text">%</span>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <hr>

    <h5>Intereses Adicionales</h5>

    <% if @edit %>
      <div style="padding: 10px;">
        <% @user.user_interests.each do |i| %>
          <span class="badge badge-warning" style="margin: 3px;"><%= i.interest.interest_category.name %>: <%= i.interest.name %>

            -- <%= link_to 'Eliminar', i, method: :delete, data: { confirm: '¿Eliminar?' } %>
          </span>
        <% end %>
      </div>
    <% end %>

   <div class="card card-body">

      <div class="field">
         <%= f.label "Añadir intereses" %>
        <%= collection_select(nil,:user_interests, Interest.where.not(id: @user.user_interests.pluck(:interest_id)), :id, :name, {}, {:multiple => true, class: 'form-control selectpicker', "data-live-search" => "true", style: "height: 300px;"}) %>
      </div>
   </div>



  <div class="field">
    <%= f.label "Contraseña" %>   <% if @edit %> <i>(Para mantener la contraseña actual mantener en blanco este campo)</i><br /> <% end %>
    <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> caracteres mínimo</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label "Confirmar contraseña" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
  </div>

<!--
  <div class="field">
    <%= f.label "Contraseña actual" %> <i>(Necesitamos la contraseña actual para confirma tus cambios)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password", class: 'form-control' %>
  </div>
-->

  <div class="field">
    <p><%= f.check_box :verified, checked: @user.verified %>
    <b>Verificado</b></p>
  </div>




  <div class="field">
    <p><%= f.check_box :admin, checked: @user.admin %>
    <b>Administrador</b></p>
  </div>


    <div class="field">
    <b>Suscripción</b>
    <%= f.text_field :current_subscription_name,value: @user.current_subscription_name, class: 'form-control' %>
  </div>


    <div class="field">
    <b>ID suscripción</b>
    <%= f.text_field :current_subscription_id,value: @user.current_subscription_id, class: 'form-control' %>
  </div>



  <div class="actions">
    <%= button_tag type: 'submit', class: "btn btn-success", style: 'width: 160px; font-size: 12px' do %>
        <i class="fa fa-check" aria-hidden="true"></i> Guardar datos
    <% end %>
  </div>
<% end %>
