
<div>
  <%= button_to new_user_path, method: 'get', class: 'btn btn-success btn-sm' do %>
  <i class="fa fa-plus"></i> Nuevo usuario
  <% end %>
</div>
<br>


<div class="card">
<div class="card-body">

  <%= search_form_for @q, url: users_path do |f| %>

  <div class="row">
    <div class="col col-md-6">
      <div class="input-group-prepend" style="display: flex; align-items: center">
        <%= f.search_field :email_or_name_cont, value: @search, class: 'form-control', placeholder: "Email o nombre del usuario", style: 'width: 90%; height: 40px' %>
        <%= submit_tag("Buscar", class: 'btn btn-outline-primary', style: 'margin-left: 10px') %>
      </div>
    </div>

    <div class="col col-md-6 text-right" style="display: flex; align-items: center; height: 40px">
      <div class="col col-md-4 text-right">
        <small><b> Rango fechas: </b> </small>
      </div>

      <div class="col col-md-4">
        <%= f.date_field :created_at_gteq, class: 'form-control', placeholder: "Inicio", style: 'height: 40px' %>
      </div>

      <div class="col col-md-4">
        <%= f.date_field :created_at_lteq, class: 'form-control', placeholder: "Fin", style: 'height: 40px' %>
      </div>
    </div>
  </div>

  <hr>

  <!-- Filtros de ubicación -->
  <div class="row" style="margin-bottom: 15px;">
    <div class="col-md-6">
      <small><b>Filtrar por ubicación:</b></small>
      <div style="display: flex; gap: 10px; margin-top: 5px;">
        <div style="flex: 1;">
          <%= f.select :location_country_eq, 
              options_for_select([['Todos los países', '']] + @countries.map { |c| [c, c] }, params.dig(:q, :location_country_eq)), 
              {}, 
              { class: 'form-control', style: 'height: 40px;', onchange: 'this.form.submit();' } %>
        </div>
        <div style="flex: 1;">
          <%= f.select :location_city_eq, 
              options_for_select([['Todas las ciudades', '']] + @cities.map { |c| [c, c] }, params.dig(:q, :location_city_eq)), 
              {}, 
              { class: 'form-control', style: 'height: 40px;', onchange: 'this.form.submit();' } %>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <!-- Espacio reservado para más filtros si es necesario -->
    </div>
  </div>

  <hr>


  <div class="row">
    <div class="col-md-6">
      <small><b>Ordenar por:</b></small>

      <span
        style="margin-left: 5%;"><small><%= sort_link(@q, :created_at, '<i class="fa fa-calendar"></i> Fecha'.html_safe) %></small></span>
    </div>


    <div class="col-md-6">
      <small><b>Mostrar:</b></small>

      <span style="margin-left: 5%;"> 
        <%= check_box_tag :include_deleted, '1', @include_deleted, 
            onclick: "this.form.submit();", 
            id: 'include_deleted_checkbox' %>
        <%= label_tag :include_deleted, 'Incluir usuarios eliminados', style: 'font-weight: normal; margin-left: 5px;' %>
      </span>

      <span style="margin-left: 5%;"> <small><%= link_to users_path, method: 'get' do %><i class="fa fa-times"
            aria-hidden="true"></i> Eliminar filtros<%end%></small></span>
    </div>


  </div>

  <%end%>
 </div>
</div>


<hr>

<div class="card card-body table-responsive">
<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th>ID</th>
      <th>Nombre</th>
      <th>Email</th>
      <th>Ubicación</th>
      <th>Género / Edad</th>
      <th>Likes</th>
      <th>Ranking</th>
      <th>Matches</th>
      <th>Registrado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
    <tr <%= 'style=background-color:#ffe6e6;'.html_safe if user.deleted_account %>>
      <td>
        <% if user.user_media.any? %>
           <%= image_tag user.user_media.first.file.thumb.url, style: 'height: 50px;' if user.user_media.first.file.url and !user.bundled %>
           <%= image_tag user.user_media.first.file.thumb.url, style: 'height: 50px; border: 3px dotted purple' if user.user_media.first.file.url and user.bundled %>
        <% end %>
        </td>
      <td>
        <% if user.admin? %>
          <i class="fa fa-check"></i>
        <% end %>
        <% if user.deleted_account %>
          <i class="fa fa-trash text-danger" title="Usuario eliminado"></i>
        <% end %>
        <%= user.id %></td>
      <td> 
        <%= link_to user.name, show_user_path(id: user.id) %>
        <% if user.current_subscription_name == 'supreme' %>
          <span class="badge badge-warning" style="background: linear-gradient(135deg, #FFD700, #FFA500); color: #000; font-weight: bold;">
            <i class="fa fa-crown"></i> SUPREME
          </span>
        <% elsif user.current_subscription_name == 'premium' %>
          <span class="badge badge-info" style="background: linear-gradient(135deg, #667eea, #764ba2); color: #fff;">
            <i class="fa fa-star"></i> PREMIUM
          </span>
        <% else %>
          <span class="badge badge-secondary" style="background-color: #6c757d; color: #fff;">
            <i class="fa fa-user"></i> GRATIS
          </span>
        <% end %>
      </td>
      <td><%= user.email %></td>
      <td>
        <% if user.location_country.present? || user.location_city.present? %>
          <i class="fa fa-map-marker-alt text-primary"></i>
          <strong><%= user.location_country %></strong>
          <% if user.location_city.present? %>
            <br><small class="text-muted"><%= user.location_city %></small>
          <% end %>
        <% elsif user.living_in.present? %>
          <%= user.living_in %>
        <% else %>
          <span class="text-muted"><i>Sin ubicación</i></span>
        <% end %>
      </td>
      <td>
        <%= user.gender_t %><br>
        <%= user.user_age %> años</td>
      <td><%= user.incoming_likes.count %></td>
      <td><%= user.ranking %></td>

      <td><%= user.matches.count %></td>

      <td><%= user.created_at.strftime("%d-%m-%Y %H:%M") %>
        <br>
          <small><%= user.social %></small>
      </td>
      <td><%= link_to 'Gestionar', show_user_path(id: user.id), :"data-turbolinks" => false  %></td>
      <td><%= link_to 'Editar', edit_user_path(id: user.id), :"data-turbolinks" => false  %></td>
      <td>
        <%= link_to 'Eliminar', destroy_user_path(id: user.id), method: :delete, data: { confirm: '¿Eliminar el usuario seleccionado?' } %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>

<div class="digg_pagination">
  <%= will_paginate @users, :container => false %>
</div>
