<div class="container mt-5">
  <h2 class="text-center mb-4">Versiones de la App</h2>
  <%= form_with model: @app_versions.first, url: app_version_path(@app_versions.first), method: :patch, local: true do |f| %>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="android_last_version">Versi贸n Android</label>
          <%= f.text_field :android_last_version, class: "form-control", id: "android_last_version" %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="android_last_version_required">Versi贸n Android Requerida</label>
          <%= f.text_field :android_last_version_required, class: "form-control", id: "android_last_version_required" %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="ios_last_version">Versi贸n iOS</label>
          <%= f.text_field :ios_last_version, class: "form-control", id: "ios_last_version" %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="ios_last_version_required">Versi贸n iOS Requerida</label>
          <%= f.text_field :ios_last_version_required, class: "form-control", id: "ios_last_version_required" %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="android_store_link">Enlace Android Store</label>
          <%= f.text_field :android_store_link, class: "form-control", id: "android_store_link" %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="ios_store_link">Enlace iOS Store</label>
          <%= f.text_field :ios_store_link, class: "form-control", id: "ios_store_link" %>
        </div>
      </div>
    </div>
    <div class="text-center mt-4">
      <%= f.submit "Guardar Cambios", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>