<p id="notice"><%= notice %></p>

<h1>User Media</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>File</th>
      <th>Position</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_media.each do |user_medium| %>
      <tr>
        <td><%= user_medium.user_id %></td>
        <td><%= user_medium.file %></td>
        <td><%= user_medium.position %></td>
        <td><%= link_to 'Show', user_medium %></td>
        <td><%= link_to 'Edit', edit_user_medium_path(user_medium) %></td>
        <td><%= link_to 'Destroy', user_medium, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Medium', new_user_medium_path %>
