<!-- filepath: c:\Users\paumt\Documents\GitHub\backend\app\views\app_versions\index.html.erb -->
<h1>Gestión de versiones de la aplicación</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Android Última Versión</th>
      <th>Android Versión Requerida</th>
      <th>iOS Última Versión</th>
      <th>iOS Versión Requerida</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @app_versions.each do |version| %>
      <tr>
        <td><%= version.id %></td>
        <td><%= version.android_last_version %></td>
        <td><%= version.android_last_version_required %></td>
        <td><%= version.ios_last_version %></td>
        <td><%= version.ios_last_version_required %></td>
        <td>
          <%= link_to 'Editar', edit_app_version_path(version), class: 'btn btn-primary btn-sm' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>