<p id="notice"><%= notice %></p>

<h1>Personal Questions</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @personal_questions.each do |personal_question| %>
      <tr>
        <td><%= personal_question.name %></td>
        <td><%= link_to 'Show', personal_question %></td>
        <td><%= link_to 'Edit', edit_personal_question_path(personal_question) %></td>
        <td><%= link_to 'Destroy', personal_question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Personal Question', new_personal_question_path %>
