
<div class="card card-body">
<%= form_with(model: interest_category, local: true) do |form| %>
  <% if interest_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(interest_category.errors.count, "error") %> prohibited this interest_category from being saved:</h2>

      <ul>
        <% interest_category.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "Nombre" %>
    <%= form.text_field :name, class: 'form-control', required: true %>
  </div>

  <div class="actions">
    <%= form.submit "Guardar", class: 'btn btn-sm btn-success' %>
  </div>
<% end %>
</div>